/* Adobe Fontes */
@import url("https://use.typekit.net/iyi8rti.css");

:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/bg-image.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-size: 1.6em;
}

div#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 35.0em;
    background: rgb(0,0,0,.300);
    padding: 1.5em;
    border-radius: .5em;
}

div#container > header > h3 {
    font-size: 1.9em;
    font-family: 'Oswald', sans-serif;
    letter-spacing: .2em;
    text-align: center;
    margin-bottom: .5em;
    color: green;
}

#resultado {
    margin-top: .5em;
    text-align: center;
    font-family: Arial;
    color: green;
    font-weight: bold;
}

form > * {
    font-family: ubuntu, sans-serif;
}

form div {
    margin-bottom: .6em;
}

label {
    font-weight: bold;
    font-size: 1.1em;
}

button {
    cursor: pointer;
    padding: .5em 1.0em;
    border-radius: .5em;
    border: none;
    background: black;
    color: #fff;
}

button:hover {
    color: green;
}

div#btn-container {
    text-align: center;
}

.oculta {
    display: none;
}

input:focus,
select:focus {
    outline: none;
}